.post {
    width: 70.5%;
    background-color: white;
    border: 1px solid rgb(215, 215, 215);
    margin-top: 45px;
    margin-left: 14.5%;
    margin-right: 14.5%;
    /*box-shadow: 0 1rem 2rem #363636;*/
    display: inline-flex;
    border-radius: 5px;
}

.post__image {
    width: 500px;
    object-fit: contain;
}

.post__text {
    font-weight: normal;
}

.post__header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.post__avatar {
    margin-right: 10px;
}

.post__text {
    padding: 30.5px;
}

.post__username__picture {
    border-right: 1px solid rgb(215, 215, 215);
}

.upload-image {
    margin: 50px auto 5px auto;
    text-align: center;
    justify-content: space-around;
}

.post__comment {
    display: inline-flex;
    width: 400px;
}

.post__comment-input {
    padding: 9px;
    width: 300px;
    border: 1px solid rgb(215, 215, 215);
    font-size: 15px;
    margin: 0 5px;
}

.post__comment-button {
    float: right;
}